.root {
  position: relative;
  width: 375px;
  height: 667px;
  align-items: flex-start;
  background-color: #f1f1f1;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 46px;
  background-color: #fb0;
}
._352020ArrowBack1 {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 32px;
  height: 32px;
  background-image:/* webpackIgnore: true */ url('/assets/_352020ArrowBack1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.categoriasMesa1 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 98px;
  top: 15px;
  width: 179px;
  height: 31px;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 24px;
  top: 67px;
  width: 157px;
  height: 143px;
  border-radius: 5px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle8 {
  transform-origin: top left;
  position: absolute;
  left: 27px;
  top: 152.4028px;
  width: 115px;
  height: 30.7847px;
  border-radius: 5px;
  background-color: #000c;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.bEBIDAS {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49px;
  top: 157.3681px;
  width: 74px;
  height: 20.8542px;
  flex-direction: column;
}
.rectangle72 {
  position: absolute;
  left: 194px;
  top: 67px;
  width: 157px;
  height: 143px;
  border-radius: 5px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle72.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle82 {
  transform-origin: top left;
  position: absolute;
  left: 197px;
  top: 152.4028px;
  width: 115px;
  height: 30.7847px;
  border-radius: 5px;
  background-color: #000c;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.lANCHES {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 219px;
  top: 157.3681px;
  width: 81px;
  height: 20.8542px;
  flex-direction: column;
}
.rectangle73 {
  position: absolute;
  left: 24px;
  top: 229px;
  width: 157px;
  height: 143px;
  border-radius: 5px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle73.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle83 {
  transform-origin: top left;
  position: absolute;
  left: 27px;
  top: 314.4028px;
  width: 115px;
  height: 30.7847px;
  border-radius: 5px;
  background-color: #000c;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.pIZZAS {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49px;
  top: 319.3681px;
  width: 63px;
  height: 20.8542px;
  flex-direction: column;
}
.rectangle74 {
  position: absolute;
  left: 194px;
  top: 229px;
  width: 157px;
  height: 143px;
  border-radius: 5px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle74.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle84 {
  transform-origin: top left;
  position: absolute;
  left: 197px;
  top: 314.4028px;
  width: 115px;
  height: 30.7847px;
  border-radius: 5px;
  background-color: #000c;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.dOCES {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 219px;
  top: 319.3681px;
  width: 58px;
  height: 20.8542px;
  flex-direction: column;
}
.rectangle75 {
  position: absolute;
  left: 24px;
  top: 391px;
  width: 157px;
  height: 143px;
  border-radius: 5px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle75.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle85 {
  transform-origin: top left;
  position: absolute;
  left: 27px;
  top: 476.4028px;
  width: 115px;
  height: 30.7847px;
  border-radius: 5px;
  background-color: #000c;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.sORVETES {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49px;
  top: 481.3681px;
  width: 90px;
  height: 20.8542px;
  flex-direction: column;
}
.rectangle76 {
  position: absolute;
  left: 194px;
  top: 391px;
  width: 157px;
  height: 143px;
  border-radius: 5px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle76.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle86 {
  transform-origin: top left;
  position: absolute;
  left: 197px;
  top: 476.4028px;
  width: 115px;
  height: 30.7847px;
  border-radius: 5px;
  background-color: #000c;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.pORCOES {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 219px;
  top: 481.3681px;
  width: 85px;
  height: 20.8542px;
  flex-direction: column;
}
